doctype html
html
  head
    link(href='/reset.styl', rel='stylesheet')
    link(href='@styles/main.styl', rel='stylesheet')

    script(src='@lib/vue')

  body
    #app
      h1 
        | \
        span v
        | /

      h2 waffer
        span view: #{view}

    script(src='@scripts/app.js')
