global-reset()

// fix margin top
body
  font-size 1em
  min-height 100%
  overflow auto

// fix canvas sizes
canvas
  display block

// fix chrome images in flexbox
div
  align-items flex-start

// fix sizing
*
::before
::after
  box-sizing border-box

// remove chrome outline
:focus
  outline 0

// default dimensions
html
  font-size 16px
  height 100vh
