@import 'https://fonts.googleapis.com/css?family=Montserrat:100|Raleway:100'

body
  font-family Montserrat, sans
  user-select none

  #app
    size 100vw 100vh
    display flex
    justify-content center
    align-items center
    flex-direction column

h1
  font-size 57px
  font-family Raleway
  padding _ _ 27px
  color #999

  span
    font-family Montserrat

h2
  font-size 2em
  color #666

  span
    font-size .5eem
